.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	gap: 20px;
}

.hui_container {
	max-width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	font-family: Arial, sans-serif;
	overflow-wrap: break-word;
}

.hui_header {
	display: flex;
	align-items: center;
}

.hui_content {
	.hui_property_name {
		font-size: small;
		font-style: italic;
	}
}

.token_logo {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	margin-right: 8px;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	img {
		width: 16px;
		height: 16px;
	}
}
